v class="table-responsive">
    <div class="col-lg-12">
        <h4>Doc Links</h4>
        <div class="col-lg-12 table table-striped table-hover divrow">
            {{#if attributes.docLinks_documentType}}
            <div class="row">
                <div class="col-lg-1">{{attributes.docLinks_documentType}}</div>
                <div class="col-lg-6">{{attributes.docLinks_url}}</div>
                <div class="col-lg-5">{{attributes.docLinks_documentComment}}</div>
            </div>
            {{/if}}
            {{#if attributes.docLinks_documentType1}}
            <div class="row">
                <div class="col-lg-1">{{attributes.docLinks_documentType1}}</div>
                <div class="col-lg-6">{{attributes.docLinks_url1}}</div>
                <div class="col-lg-5">{{attributes.docLinks_documentComment1}}</div>
            </div>
            {{/if}}
            {{#if attributes.docLinks_documentType2}}
            <div class="row">
                <div class="col-lg-1">{{attributes.docLinks_documentType2}}</div>
                <div class="col-lg-6">{{attributes.docLinks_url2}}</div>
                <div class="col-lg-5">{{attributes.docLinks_documentComment2}}</div>
            </div>
            {{/if}}
        </div>
    </div>
</div>

